*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: #F3F3F3;
    font-family: 'Futura PT', sans-serif;
}

.container {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1600px;

}

.menu {
    margin-right: auto;
    
}

.menu-header {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2.5rem;
    border-bottom: 2px solid #F3F3F3;
    margin: 0 auto;
}

.menu-header-top {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.main-nav__logo__image {
    width: 3.75rem;
    height: 1.75rem;
}

.menu-list {
    display: flex;
    gap: 2rem;
    
}

.nav-li a {
    text-decoration: none;
    color: #000000; 
    font-size: 1.25rem;
    line-height: 1.5;  
    font-weight: normal;
}

.nav-li > a.more {
    color: #FF764D;
}

.registration a {
     text-decoration: none;   
    color: blue;
    font-size: 1.25rem;
    line-height: 1.5;  
    font-weight: normal;
    margin-right: 1rem;
}

.registration a:nth-child(2) {
    color: #000000;
    font-size: 1rem;
}

.close {
    display: none;
}

.menu-header-bottom {
   margin-top: 3rem;
    
}

.menu-header-bottom h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

.menu-header-bottom ul {
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
}

.menu-header-bottom ul a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.1rem;
    
}
.more-bottom {
    margin-top: 1rem;
}

.more-bottom h1 {
    margin-top: 2rem;
}

.more-bottom h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.more-bottom ul {
    display: flex;
    gap: 2rem;
}

.more-bottom li p {
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 400;
}

.fixed-header ul {
    display: flex;
    gap: 3rem;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    
}

.fixed-header ul a {
    text-decoration: none;
    color: #000000;
}

.fixed-header ul a.active {
    color: #FF764D;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    margin: 0 auto;
}

.hero-img {
}

.hero-img img {
    width: 100%;
}

.h1-hero {
    max-width: 600px;
    margin: 8rem 0 2rem 0;
    font-size: 1.875rem;
    line-height: 1.4;
}

.h1-hero a {
    text-decoration: none;
    columns: #7575FF;
}

.p-hero {
    max-width: 600px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.showcase {
    width: 100%;
    height: 900px;
    
    background-image: linear-gradient(90deg, #ffffff 40%, #FBFFA7 40%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 6rem auto;;
    gap: 5rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial h1 {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 500;
}

.testimonial p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}

.why {
    font-size: .9rem;
    font-weight: 500;
}

.showcase-green {
    display: flex;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(90deg, #B6FFC0 60%, #ffffff 40%);
    justify-content: space-around;
}

.showcase-green-left{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
}

.showcase-green-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-purple {
    display: flex;
    width: 100%;
    height: 900px;
    background-image: linear-gradient(90deg,#fff 17%, #D5B3FF 17%, #D5B3FF 85%, #fff 85%);
    justify-content: flex-end;
    align-items: center;
}

.showcase-purple img {
    margin-left: auto;
}

.showcase-purple .transform {
    transform: translate(-10%);
}

.showcase-blue {
    display: flex;
    width: 78%;
    
    background-image: linear-gradient(90deg, #B6FFC0 60%, #ffffff 40%);
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.showcase-blue-left{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
}

.showcase-blue-right{
    background-color: #B1C5FF;
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
}

.showcase-blue-right a {
    color: #0000FF;
    text-decoration: none;
}

.showcase-blue-right a::after{
    content: '\00a0›';
}

.footer{
    border-top: 2px solid #F3F3F3;
    padding: 7rem 0 7rem 0;
}

@media screen and (min-width: 2400px){
    .container {
        width: 80%;
        background-color: #FFFFFF;
        margin: 0 auto;
        
    }
}